@media screen  and (max-width: 992px) {
    .copyright{
        display: none;
    }
    .footer-logo-atc-container{
        justify-content: flex-start;
    }
    .footer-logos-container{
        justify-content: flex-end;
    }
    /*Nosotros.html*/
    .nosotros-main-imagen-fachada{
      display: none;
  }
.nosotros-content{
  row-gap: 2vh;
}
  .nosotros-main-text{
      width: 45vw;
      font-size: 15px;
      grid-column: 1;
      justify-self: center;
  }

  .nosotros-content .nosotros-main-imagen-cafe-a, .nosotros-main-imagen-cafe-b, .nosotros-main-imagen-cafe-c{
      width: 35vh;
      height: auto;
  }


  .nosotros-main-imagen-cafe-a{grid-row: 1;
      grid-column: 2;
  justify-self: center;
align-self: center;}
  .nosotros-main-imagen-cafe-b{grid-row: 2;grid-column:1}
  .nosotros-main-imagen-cafe-c{grid-row: 2;grid-column:2;justify-self: center;}

/*--------*/
}

@media screen  and (max-width: 768px){
    .ubicacion-info{
      align-content: center;
    }
}

@media screen  and (max-width: 576px){
  .super-baristas-image{
      width: 90vw;
  }
  .baristas img{
      width: 50vw;
  }
  .pdf-view{
      min-width: 90vw;
  }

  /*nosotros.html*/
  .nosotros-main-imagen-fachada{
    display: none;
}
.nosotros-content{
row-gap: 2vh;
}
.nosotros-main-text{
    width: 90vw;
    font-size: 15px;
    grid-column: 2;
}

.nosotros-content .nosotros-main-imagen-cafe-a, .nosotros-main-imagen-cafe-b, .nosotros-main-imagen-cafe-c{
    width: 60vw;
    height: 100%;
}


.nosotros-main-imagen-cafe-a{grid-row: 2;grid-column-start: 2;
    grid-column-end: 3;
justify-self: center;}
.nosotros-main-imagen-cafe-b{grid-row: 3;grid-column-start: 2;
    grid-column-end: 3}
.nosotros-main-imagen-cafe-c{grid-row: 4;grid-column-start: 2;
    grid-column-end: 3;justify-self: center;}

/*--------*/
}