/*
Hoja de Estilo para el proyecto web "ATC Cafe"
Realizada por RAMIRO MORALES
año 2022
*/

/*Estilos que se aplicaran si la la resolucion del dispositivo es menor a 500px*/
@media screen and (max-width: 500px) {

    /*Index*/
    .index-header {
        height: 150px;
    }

    .index-header-logo {
        height: 70px;
    }

    .index-header-menu {
        width: 100%;
        justify-content: space-between;
        margin-left: 5px;
    }

    .header-menu-item {
        font-size: 12px;
        padding: 3px 7px 3px 7px;
    }

    .index-download-menu {
        height: 80px;
    }

    .index-download-menu h3 {
        font-size: 20px;
    }

    .index-download-menu a {
        font-size: 3px;
        padding: 3px 3px 0px 3px;
    }

    .baristas {
        justify-content: center;
    }

    .baristas img {
        width: 250px;
        margin-bottom: 15px;
        justify-self: center;
    }

    /*Definicion de la posicion dentro del grid Baristas*/
    .michu-barista {
        grid-row-start: 1;
    }

    .mati-barista {
        grid-row-start: 2;
    }

    .aye-barista {
        grid-row: 3;
    }

    .lucho-barista {
        grid-row: 4;
    }

    /*----*/
    /*Fin del Index*/

    /*Footer*/
    .footer-logo-atc {
        height: 35px;
        grid-column: 1;
        margin-left: 15px;
    }

    .footer-logo {
        height: 35px;
    }

    .footer-text {
        display: none;
    }

    .footer-logos {
        grid-column: 3;
    }

    /*-------*/

    /*Header del resto de paginas*/
    header {
        /*Definicion de header con grid adaptado a moviles*/
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: repeat(3, auto);
        /*--*/
        justify-items: center;
        height: 150px
    }

    .header-logo {
        grid-row-start: 1;
        grid-column-start: 2;
        height: 70px;
        margin-top: 15px;
    }

    nav {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .header-menu-item {
        font-size: 12px;
        padding: 3px 7px 3px 7px;
    }

    /*-------*/

    /*Menu.html*/
    .pdf-view {
        margin-bottom: 20px;
        width: 300px;
        height: 65vh;
    }

    /*-------*/

    /*Nosotros.html*/
    .nosotros-main-imagen-fachada{
        display: none;
    }
.nosotros-content{
    row-gap: 2vh;
}
    .nosotros-main-text{
        width: 90vw;
        font-size: 15px;
        grid-column: 2;
    }

    .nosotros-content .nosotros-main-imagen-cafe-a, .nosotros-main-imagen-cafe-b, .nosotros-main-imagen-cafe-c{
        width: 60vw;
        height: 100%;
    }


    .nosotros-main-imagen-cafe-a{grid-row: 2;grid-column-start: 2;
        grid-column-end: 3;
    justify-self: center;}
    .nosotros-main-imagen-cafe-b{grid-row: 3;grid-column-start: 2;
        grid-column-end: 3}
    .nosotros-main-imagen-cafe-c{grid-row: 4;grid-column-start: 2;
        grid-column-end: 3;justify-self: center;}

/*--------*/

/*ubicacionyhorario.html*/

  .ubicacion-info{
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 13px;
  }

  .ubicacion-info span{
    font-size: 20px;
    align-self: center;
  }

  .ubicacion-imagen-fachada{
    
    align-self: end;
    margin-bottom: 12px;
    margin-right: 10px;
    width: 24vw;
    grid-column: 1;
    grid-row: 1;
    
  }

  .mapa{
    grid-column: 3;
    grid-row: 1;
    width: 65vw;
    margin-right: 25px;
  }


.horario-info{
    grid-row: 2;
  grid-column: 2;
}

  /*contacto.html*/
  .contacto-content{
      justify-self: center;
  
  }
  .formulario{
      width: 90vw;
  }
}
/*Estilos que se aplicaran si la la resolucion del dispositivo es mayor a 500px y menor a 1000px*/
@media screen and (min-width:500px) and (max-width: 1000px) {

    /*Index*/
    .index-header {
        height: 170px;
    }

    .index-header-logo {
        height: 80px;
    }

    .index-header-menu {
        width: 100%;
        justify-content: space-between;
        margin-left: 5px;
    }

    .header-menu-item {
        font-size: 16px;
        padding: 3px 7px 3px 7px;
    }

    .index-download-menu {
        height: 80px;
    }

    .index-download-menu h3 {
        font-size: 20px;
    }

    .index-download-menu a {
        font-size: 3px;
        padding: 3px 3px 0px 3px;
    }

    .baristas {
        justify-content: center;
    }

    /*Definicion de la posicion dentro del grid Baristas*/
    .michu-barista {
        grid-row-start: 1;
        grid-column: 1;
    }

    .mati-barista {
        grid-row-start: 1;
        grid-column: 2;
    }

    .aye-barista {
        grid-row: 2;
        grid-column: 1;
    }

    .lucho-barista {
        grid-row: 2;
        grid-column: 2;
    }

    /*------*/
    .baristas img {
        width: 200px;
        margin-bottom: 15px;
    }

    /*Fin del Index*/

    /*Footer*/
    .footer-logo-atc {
        height: 35px;
        grid-column: 1;
        margin-left: 15px;
    }

    .footer-logo {
        height: 35px;
    }

    .footer-text {
        display: none;
    }

    .footer-logos {
        grid-column: 3;
    }

    /*Header del resto de paginas*/
    header {
        /*Definicion de header con grid adaptado a tablets*/
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: repeat(3, auto);
        justify-items: center;
        /*-----*/
        height: 170px
    }

    .header-logo {
        grid-row-start: 1;
        grid-column-start: 2;
        height: 90px;
        margin-top: 15px;
    }

    nav {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .header-menu-item {
        font-size: 14px;
        padding: 3px 7px 3px 7px;
    }

    /*Menu.html*/
    .pdf-view {
        margin-bottom: 20px;
        width: 400px;
        height: 55vh;

    }
    /*--------*/

        /*Nosotros.html*/
        .nosotros-main-imagen-fachada{
            display: none;
        }
    .nosotros-content{
        row-gap: 2vh;
    }
        .nosotros-main-text{
            width: 45vw;
            font-size: 15px;
            grid-column: 1;
            justify-self: center;
        }
    
        .nosotros-content .nosotros-main-imagen-cafe-a, .nosotros-main-imagen-cafe-b, .nosotros-main-imagen-cafe-c{
            width: 35vh;
            height: auto;
        }
    
    
        .nosotros-main-imagen-cafe-a{grid-row: 1;
            grid-column: 2;
        justify-self: center;
    align-self: center;}
        .nosotros-main-imagen-cafe-b{grid-row: 2;grid-column:1}
        .nosotros-main-imagen-cafe-c{grid-row: 2;grid-column:2;justify-self: center;}
    
    /*--------*/

            /*ubicacionyhorario.html*/

  .ubicacion-info{
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 13px;
  }

  .ubicacion-info span{
    font-size: 20px;
    align-self: center;
  }

  .ubicacion-imagen-fachada{
    
    align-self: end;
    margin-bottom: 12px;
    margin-right: 10px;
    width: 24vw;
    grid-column: 1;
    grid-row: 1;
    
  }

  .mapa{
    grid-column: 3;
    grid-row: 1;
    width: 65vw;
    margin-right: 25px;
  }


.horario-info{
    width: 50vw;
    grid-row: 2;
    grid-column: 2;
}

.tabla-horario{
    width: 50vw;
    text-align: center;
}


}

@media screen and (min-width:500px) and (max-width: 750px) {

/*nosotros.html*/
.nosotros-main-imagen-fachada{
    display: none;
}
.nosotros-content{
row-gap: 2vh;
}
.nosotros-main-text{
    width: 90vw;
    font-size: 15px;
    grid-column: 2;
}

.nosotros-content .nosotros-main-imagen-cafe-a, .nosotros-main-imagen-cafe-b, .nosotros-main-imagen-cafe-c{
    width: 60vw;
}


.nosotros-main-imagen-cafe-a{grid-row: 2;grid-column-start: 2;
    grid-column-end: 3;
justify-self: center;}
.nosotros-main-imagen-cafe-b{grid-row: 3;grid-column-start: 2;
    grid-column-end: 3}
.nosotros-main-imagen-cafe-c{grid-row: 4;grid-column-start: 2;
    grid-column-end: 3;justify-self: center;}
}