/*
Hoja de Estilo para el proyecto web "ATC Cafe"
Realizada por RAMIRO MORALES
año 2022
*/

//Importacion de hojas de estilo externas

@import "index";
@import "menu";
@import "nosotros";
@import "ubicacionyhorario";
@import "contacto";

//Libreria
@import "library";

//CSS

/*Estilos que se aplicaran en todo el proyecto*/
body {
  background: {
    image: url(../img/background.png);
    size: cover;
    min-height: 100vh;
  }
  color: map-get($colores,blanco);
  min-height: 100vh;
  li {
    list-style: none;
  }
}

footer {
  @include margenes-arriba-abajo (auto, none);
  display: flex;
  height: 60px;
  justify: {
    content: space-between;
    items: center;
  }
  align-items: center;
  background-image: url(../img/footer-background.jpg);
}

.footer-logos {
  display: flex;
  margin-right: 15px;
  justify-content: flex-end;
}

.footer-logo {
  height: 45px;
}

.center {
  display: flex;
  justify-content: center;
}
.center-grid {
  display: grid;
  justify-content: center;
}

.footer-logo-atc {
  height: 40px;
}

.footer-text {
  margin-left: 30px;
  width: 120px;
  color: map-get($colores,blanco);
  background-color: map-get($colores,negro);
  font-family: OSwald;
  border: 2px solid map-get($colores,blanco);
  padding: 3px 7px 3px 7px;
}

.copyrigth{
  padding-top: 10px;
}
/*----------------*/





