/*
Hoja de Estilo para el proyecto web "ATC Cafe"
Realizada por RAMIRO MORALES
año 2022
*/

body{
    background-image: url(../img/background.png);
    background-size: cover;min-height: 100vh;
    color: #FDF6FB;
    }

.atc-logo-header{
    height: 10px;
}

.index-download-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background: rgb(210,153,176);
background: linear-gradient(0deg, rgba(210,153,176,1) 32%, rgba(185,109,140,1) 100%);
    padding-top: 10px;
  }

  .index-download-menu a{
    border: 2px solid black;
    background-color: #FDF6FB;
    color: black;
    padding: 6px 6px 0px 6px;
  }


  .super-baristas{
    /*Definicion del grid de la seccion "Super Baristas" de la pagina index.html*/
    display: grid;
    /*----*/ 
    justify-items: center;
    margin-bottom: 20px;
  }

  .super-baristas-image{
    width: 350px;
  }

  .baristas img{
    border-radius: 15px;
    box-shadow: 7px 7px green;
    width: 250px;
    margin-bottom: 20px;
  }

  li{
      list-style: none;
  }

  footer{
    margin-top: auto;
    margin-bottom: none;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-image: url(../img/footer-background.jpg);
  }

  .footer-logos{
      display: flex;
    margin-right: 15px;
    justify-content: flex-end;
  }

  .footer-logo{
    height: 45px;
  }

  .center{
      display: flex;
      justify-content: center;
  }
.center-grid{
    display: grid;
    justify-content: center;
}

  .footer-logo-atc{
    height: 40px;
  }

  .footer-text{
    margin-left: 15px;
    width: 120px;
    color: aliceblue;
    background-color: black;
    font-family: OSwald;
    border: 2px solid white;
    padding: 3px 7px 3px 7px;
  }


  .menu-content-title{
    font-family: Poppins;
text-align: center;
font-size: 30px;
    color: #FDF6FB;
  }
  .pdf-view{
    margin-bottom: 15px;
    display: block;
    width: 400px;
    height: 80vh;
    border-radius: 20px;
  }

  .contacto-content{

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
    .formulario-contacto{
      background-color: rgba(32, 30, 30, 0.589);
    }


    .formulario{
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .select-vino-cafe{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    /*ubicacion y horario*/
    .ubicacion-horario-main-content{
      display: grid;
      grid-template-columns: repeat(3,auto);
      grid-template-rows: repeat(3,auto);
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .ubicacion-info{
      justify-self: center;
      grid-column: 2;
      grid-row: 1;
      
      color: #FDF6FB;
      font-family: poppins;
    }
  
    .ubicacion-info span{
      font-size: 30px;
      align-self: center;
    }
  
    .ubicacion-imagen-fachada{
      justify-self: end;
      align-self: center;
      width: 15vw;
      grid-column: 1;
      grid-row: 1;
      border: 4px solid rgb(0, 0, 0);
      box-shadow: 7px 7px rgb(71, 71, 71);;
    }
  
    .mapa{
      grid-column: 3;
      grid-row: 1;
      width: 30vw;
      margin-right: 25px;
      border: 4px solid rgb(0, 0, 0);
      box-shadow: 7px 7px rgb(71, 71, 71);;
    }
  
  
  .horario-info{
    grid-column: 3;
  }
    .tabla-horario{
      color: black;
      background-color: #FDF6FB;
      border: 4px solid rgb(0, 0, 0);
      box-shadow: 7px 7px rgb(71, 71, 71);
    }


  @media screen  and (max-width: 992px) {
      .copyright{
          display: none;
      }
      .footer-logo-atc-container{
          justify-content: flex-start;
      }
      .footer-logos-container{
          justify-content: flex-end;
      }
  }

  @media screen  and (max-width: 576px){
    .super-baristas-image{
        width: 90vw;
    }
    .baristas img{
        width: 50vw;
    }
    .pdf-view{
        min-width: 90vw;
    }
  }