/*Index.html*/

/*Variables*/
@import "library";

.index-download-menu {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;

  height: 100px;
  background: map-get($colores, rosa);
  background: linear-gradient(0deg, map-get($colores, rosa) 32%, rgba(185, 109, 140, 1) 100%);
  color: map-get($colores, blanco);
  border: 2px solid map-get($colores, blanco);
  padding-top: 10px;
}

.index-download-menu a {
  border: 2px solid black;
  background-color: map-get($colores, blanco);
  color: black;
  padding: 6px 6px 0px 6px;
}

.super-baristas {
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
}

.super-baristas-image {
  width: 400px;
}

.baristas img {
  border-radius: 15px;
  width: 250px;
  margin-bottom: 20px;
}




.animated_text {
  text-decoration: none;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  color: white;
  text-align: center;
  white-space: nowrap;

  color: map-get($colores, blanco);
  line-height: 2;






}

/*-----------*/